/** Font Family **/
$font-family-title : "Quicksand";
$font-family-text : "Poppins, sans-serif";
$remixico: 'remixicon';

/** Site main Color **/
$primary: #ffd783;
$secondary: #007367;
$green: #54d3c2;
$blue: #4e52fa;
$red: #f90c4c;
$body-bg : #f1f0f4;
$bg: #f1f4f7;
$card-bg: #e1e5e9;
$text-777 : #777;
$text-999 : #999;
$border-eee : #eee;
$border-e5e5e5 : #e5e5e5;
$radius : 30px;
$radius-20: 20px;
$radius-15: 15px;
$radius-10: 10px;
$radius-5: 5px;
$trans-bg: rgba(72, 85, 104, 0.1);
$border-ddd: #ddd;
$border-light: #f2f2f2; 
$hover-drop-list: rgba(72, 85, 104, 0.1);
$card-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.15);
$up: #2bbb93;
$down: #f90c4c;
$icon-clr: #485568;
$fff: #fff;
$title-color : #007367;
$text-color: #f1f4f7;
$yellow_off: #e2ba54;
$white : #fff;
$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);
$on-hold: #FB7D44;
$in-progress: #2A92BF;
$needs-review: #F4CE46;
$approved: #00B961;
$box-shadow: 0 7px 15px 5px rgba(67, 73, 118, 0.03);
$main-border-radius : 15px;
$border-color-grey:#ddd;
