/** Faq Page CSS **/
.mn-accordion.style-1 {
	.mn-accordion-item {
		border-color: $border-e5e5e5;
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		.mn-accordion-header {
			margin: 0;
			padding: 12px 35px 12px 15px;
			background-color: $card-bg;
			color: $title-color;
			font-size: 16px;
			line-height: 28px;
			font-weight: 500;
			position: relative;
			font-family: $font-family-text;
			border: 1px solid $border-e5e5e5;
			border-radius: $radius-10;
			&:after {
				content: "\ea4e";
				width: 15px;
				height: 15px;
				display: flex;
				align-items: center;
				font-family: $remixico;
				cursor: pointer;
				font-size: 24px;
				color: $title-color;
				font-weight: 400;
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
	.mn-accordion-body {
		padding: 15px 0;
		font-size: 14px;
		color: $text-777;
		display: none;
		line-height: 24px;
		code{
			font-weight: 600;
			font-size: 14px;
			color: $primary;
		}
	}
	.mn-accordion-body.show {
		display: block;
	}
}